

<div class="top-wrapper">
    <h1>GO CAMPING!!</h1>
    <h3>キャンプ場検索＆投稿サイト</h3>

    <% if user_signed_in? %>
        <p>welcome</p>
    <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
    <% end %>
</div>

<div class="post_wrapper">
    <p>posts</p>

</div>

<div class="campsite_wrapper">
    <p>campsites</p>
    
</div>

<footer>
    <h1>campsite_title</h1>
</footer>