/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "font-awesome-sprockets";
// @import "font-awesome";

// ここから更新版ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    background-color: rgba(128, 128, 128,.15)
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: rgb(0, 56, 0);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    // border: #0bd 5px solid;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

// ヘッダー
.title-header {
    background-color: #432;
    // position: fixed;
    // top: 0px;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // font-weight: normal;
}
.site-title-logo {
    // font-size: 1.25rem;
    // margin: 10px 15px 0;
    color: whitesmoke;
    font-weight: normal;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    // margin: 10px 15px 0;
    list-style: none;
}
.main-nav a {
    color: whitesmoke;
}
.main-nav a:hover {
    color: green
}
.main-nav li {
    margin-left: 36px;
}

/* フッター
ーーーーーーーーーーーーーーー */

footer {
    background:#432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}


// ここまでーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// header {
//     height: 50px;
//     background-color: darkslategray;
//     // z-index: 10;
//     border: black solid 2px;
// }



// .site-logo {
//     line-height: 50px;
//     padding-left: 30px;
// }

// .site-logo a {
//     font-size: 30px;
//     color: aliceblue;
//     // line-height: 30px;
//     margin-left: 10px;
//     width: 80%;
// }

// .fa-2x {
//     color: silver;
// }

// .current_user {
//     // float:left;
//     background-color: aqua;
//     width: 100%;
//     // font-family:;
// }

// .current_user_content {
//     // float: left;
//     height: 70px;
    
// }

// .current_user_content a {
//     line-height: 70px;
//     font-size: 40px;
//     background-color: aquamarine;
//     margin-left: 60px;
// }


// .side {
//     width: 20%;
//     float: left;
//     // height:5000px;
//     background-color: aliceblue;
//     border : double 4px black; 
// }

// .main {
//     background-color: antiquewhite;
//     height:100vh;
// }

// .main-container {
//     width: 78.5%;
//     float: right;
//     border: red solid 5px;
// }

// .container {
//     width: 90%;
//     margin: 0 auto;
//     background-color: rgba(177, 177, 25, 0.5);
//     border: blue solid 1px;
//     z-index: 2;
// }

// a {
//     text-decoration: none;
// }

// ul {
//     list-style:none
// }

// .page-title {
//     display: inline-block;
//     // margin: 20px 20px 50px;
//     border: 1px black solid;
//     width: 100%;
//     // margin: 0 auto;
//     // text-align: center;
//     font-size: 100px;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// }
