/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "font-awesome-sprockets";
// @import "font-awesome";


header {
    height: 50px;
    background-color: darkslategray;
    // z-index: 10;
    border: black solid 2px;
}



.site-logo {
    line-height: 50px;
}

.site-logo a {
    font-size: 30px;
    color: aliceblue;
    // line-height: 30px;
    margin-left: 10px;
    width: 80%;
}


.site-logo {
    padding-left: 30px;
}

.fa-2x {
    color: silver;
}

.current_user_content {
    float: left;
    height: 70px;
    background-color: aqua;
    width: 100%;
}

.current_user_content a {
    line-height: 70px;
    font-size: 40px;
    background-color: aquamarine;
}

.fullpage_container {
    // width: 1300px;

}

// .container {
//     margin: 0 20px;
// }

.side {
    width: 20%;
    float: left;
    // height:5000px;
    background-color: aliceblue;
    border : double 4px black; 
}

.main {
    background-color: antiquewhite;
    height:5000px;
}

.main-container {
    width: 78.5%;
    float: right;
    border: red solid 5px;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(177, 177, 25, 0.5);
    border: blue solid 1px;
    z-index: 2;
}

a {
    text-decoration: none;
}

ul {
    list-style:none
}