.top-wrapper {
    background-image: image-url('campfire-896196_1280.jpg');
    height: 600px;
    background-size: cover;
}



.top-content {
    text-align: center;
    padding-top: 150px;
}

.top-content h1 {
    color: aliceblue;
    font-size: 70px;
    line-height: 70px;
    background-color: rgba(189, 189, 150, 0.7);
}

.top-content h3 {
    color: aliceblue;
    background-color: rgba(189, 189, 150, 0.7);

}