

.post-new {
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgb(66, 138, 138);
    border-radius: 30px;
    box-sizing: border-box;
}

.post-new h1 {
    color: aliceblue;

}

.post-new p {
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page-title {
    display: inline-block;
    // margin: 20px 20px 50px;
    border: 1px black solid;
    width: 100%;
    // margin: 0 auto;
    // text-align: center;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-wrapper {
    width: 100%;
    height: 100px;
    border: pink solid 1px;
}

.post-contents {
    border: blueviolet, solid, 2px;
    background-color: rgba(123, 198, 198, 0.5);
    height: 1000px;
    // width: 200px;
    z-index: 2;
}

.post-content {
    height: 500px;
    box-sizing: border-box;
    width: 30%;
    margin-right: 3%;
    background-color: rgb(166, 217, 91);
    float: left;
    border-radius: 30px;
    padding: 20px;
}

.content-title {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0;
}

.content-image {
    text-align: center;
}

.post_image {
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

// show

.show-post-content {
    height: 500px;
    width: 93%;
    margin: 0 20px 50px 20px;
    background-color: rgb(166, 217, 91);
    float: left;
    border-radius: 30px;
    padding: 20px;
}

.show-post-image {
    display: inline-block;
    height: 400px;
    width: 400px;
    margin-top: 20px;
    float: left;
}

.show-infomation {
    float: right;
    width: 50%;
    margin-left: 30px;
    border: black solid 2px;
}

.show-content-title {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 50px 10px 0;
}